{% extends "index.html" %}

{% block title %}Crear Ticket{% endblock %}

{% block content %}

<form action="{{ url_for('crear_ticket') }}" method="post" >

<div class="page">
    <div class="header">
        <span>INBI - SOPORTE</span>
        <h1>Crear ticket</h1>
    </div>

    <div class="card">
        <form class="form">

            <div class="form-group">
                <label>TÍTULO</label>
                <input type="text" placeholder="Ingresa el título de la situación" />
            </div>

            <div class="form-group">
                <label>DESCRIPCIÓN</label>
                <textarea placeholder="Explica de manera clara y detallada la situación..."></textarea>
            </div>

            <div class="row">
                <div class="form-group">
                    <label>CATEGORÍA</label>
                    <select>
                        <option>Infraestructura</option>
                        <option>Servicios</option>
                        <option>Docencia</option>
                    </select>
                </div>

<br><br>
<label for="prioridad">Prioridad</label>
<select id="prioridad" name="prioridad">
<option>Baja</option>
<option>Media</option>
<option>Alta</option>
</select>

<br><br>

            <div class="form-group">
                <label>EVIDENCIA</label>
                <div class="upload-box">
                    <p>📎</p>
                    <p>Arrastra un archivo o <span>selecciona desde tu dispositivo</span></p>
                    <small>PNG, JPG, PDF — máx. 10 MB</small>
                    <input type="file">
                </div>
            </div>

            <div class="actions">
                <button type="button" class="btn cancel">Cancelar</button>
                <button type="submit" class="btn submit">Enviar ticket</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}