{% extends "index.html" %}

{% block title %}Crear Ticket{% endblock %}

{% block content %}
<h1>Crear Ticket</h1>

<form action="{{ url_for('crear_ticket') }}" method="post" enctype="multipart/form-data">

<label for="titulo">Titulo</label>
<input type="text" id="titulo" name="titulo">

<br><br>

<label for="descripcion">Descripción</label>
<textarea id="descripcion" name="descripcion"></textarea>

<br><br>

<label for="categoria">Categoria</label>
<select id="categoria" name="categoria">
<option>Infraestructura</option>
<option>Servicios</option>
<option>Docencia</option>
</select>

<br><br>

<label for="evidencia">Subir evidencia</label>
<input type="file" id="evidencia" name="evidencia">

<br><br>

<button type="submit">Enviar Ticket</button>

</form>
{% endblock %}