{% extends "index.html" %}

{% block title %}Soporte{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='dashboard_usuario.css') }}">

<div class="menu-container">

    <h1 class="logo">INBI - SOPORTE</h1>

    <div class="menu-card">
        <a href="crear_ticket" class="menu-btn">Generar Reporte</a>
        <a href="status" class="menu-btn">Estatus Reporte</a>
        <a href="#" class="menu-btn">Preguntas Frecuentes</a>
    </div>

     <a href="{{ url_for('login_page') }}" class="home-icon">🏠</a>

</div>

{% endblock %}