{% extends "index.html" %}

{% block title %}Login - INBI{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<div class="container">

    <!-- LADO IZQUIERDO -->
    <div class="left-side">
        <div class="overlay-circle"></div>
        <div class="left-content">
            <h2>Instituto Neurolingüístico Bilingüe</h2>
            <p>Tu plataforma de quejas siempre disponible :)</p>
        </div>
    </div>

    <!-- LADO DERECHO -->
    <div class="right-side">

        <div class="datetime" id="datetime"></div>

        <h1>Bienvenido</h1>
        <p class="subtitle">Ingresa tus credenciales para continuar</p>

        {% if error %}
            <p class="error-msg">{{ error }}</p>
        {% endif %}

        <form action="{{ url_for('login_page') }}" method="POST">

            <label for="tipo">Tipo</label>
            <select name="tipo" id="tipo">
                <option value="1">Alumno</option>
                <option value="2">Docente</option>
                <option value="3">Administración</option>
            </select>

            <label for="correo">Cuenta</label>
            <input type="text" id="correo" name="correo" placeholder="Ingrese su cuenta" required>

            <label for="contrasena">Contraseña</label>
            <input type="password" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña" required>

            <button type="submit">Entrar</button>

            <p style="margin-top:10px;">
            ¿No tienes cuenta? 
            <a href="{{ url_for('registro') }}">Crear cuenta</a>
            </p>

        </form>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>


{% endblock %}