body {

    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #e8f0fe, #f5f7fa);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;

}

/* CONTENEDOR PRINCIPAL */
.menu-container {
    text-align: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

/* NAV SUPERIOR */
.top-nav {
    position: fixed;
    top: 20px;
    left: 30px;
}

.top-nav {
    padding: 20px 0 0 20px;
}

/* ENCABEZADO */
.dashboard-header {
    margin-bottom: 10px;
}

.dashboard-header h1 {
    font-size: 28px;
    color: #2a5298;
    font-weight: 700;
    margin: 0 0 4px 0;
    letter-spacing: 1px;
}


/* DIVIDER */
.divider {
    width: 60px;
    height: 4px;
    background: linear-gradient(90deg, #2eacf9, #2a5298);
    border-radius: 10px;
    margin: 12px auto 20px;
}

/* SALUDO */
.saludo {
    font-size: 20px;
    color: #333;
    font-weight: 500;
    margin-bottom: 30px;
}

/* TARJETA */
.menu-card {
    background: white;
    padding: 40px 50px;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(42, 82, 152, 0.15);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* BOTONES */
.menu-btn {
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, #2eacf9, #2a5298);
    padding: 18px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.menu-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(42, 82, 152, 0.3);
    text-decoration: none;
    color: white;
}